<div class="container my-5 text-center">

    <div class="btn-group mt-2" role="group">
        <button type="button" class="btn button" [routerLink]="['/projects']">Proyectos</button>
        <button type="button" class="btn button" [routerLink]="['/']">Volver</button>
        <button type="button" class="btn button" [routerLink]="['/experiencies']">Experiencia</button>
    </div>

    <h2 class="my-5">Conóceme</h2>

    <div class="mt-5 text-start">
        <h3>¿Quién soy?</h3>
        <p class="lead text-white">
            Soy <strong>Marcos Rodríguez</strong>, desarrollador de software de España.
            Apasionado por el aprendizaje continuo y la creación de soluciones eficientes con código.
            Me motiva trabajar en proyectos donde pueda aportar valor y seguir creciendo como profesional.
        </p>
    </div>

    <div class="mt-5 text-start">
        <h3>Contacto</h3>
        <p class="lead text-white">
            Puedes escribirme a <a href="mailto:marcosrodriguezroman700.02@gmail.com"
                class="link-info">marcosrodriguezroman700.02&#64;gmail.com</a>
            o conectar conmigo en
            <a class="link-info" href="https://www.linkedin.com/in/marcos-rodr%C3%ADguez-rom%C3%A1n-26770a2a4/"
                target="_blank">LinkedIn</a>.
        </p>
        <a href="MarcosCV.pdf" class="btn btn-outline-light mt-2" download>Descargar CV</a>
    </div>

    <div class="mt-5 text-start">
        <h3>¿Trabajas en otras areas informaticas?</h3>
        <p class="lead text-white">
            Si, tengo conocimientos en otros sectores como:
        </p>
        <ul class="text-white lead">
            <li>Administración básica de sistemas</li>
            <li>Administración básica de redes</li>
            <li>Instalación de Sistemas Windows y Linux servers</li>
            <li>Instalación y configuración inicial de WordPress y Moodle</li>
            <li>Inteligencia Artificial</li>
            <li>Montaje y mantenimiento de ordenadores</li>
        </ul>
    </div>
</div>